/*ignore for now

body {
    margin: 5px;
    text-align: center;
}

img {
    margin: auto;
}

*/

/*https://fonts.google.com/*/
* {
    font-family: 'Poppins', sans-serif; ;
}

.wrapper {
    margin: 5px;
    text-align: center;
}

header {
    background-color: rbg(248, 248, 248);
    padding: 0 3% 1em;
    margin-bottom: 2.5em;
}

.main-nav li {
list-style: none;
background-color: white;
}

.wide-nav li {
    list-style: none;
    background-color: white; 
   }
   
a:link, a.visited, a.hover, a.active {
text-decoration: none;
}

.main-nav ul, .contact-div ul {
    padding-left: 0;
}

.my-intro {
    padding-bottom: 1em;
    color: gray;
    font-size: 1em;
}

.profile-img {
    width: 60%;
    margin: 1em auto 0.2em
}

.portfolio-img {
    width: 80%;
    height: auto;
    margin: 1em auto 0;
}

.item-description {
    font-size: 0.9em;
    color: gray;
}

/*media queries*/
@media (min-width: 768px) {
    
}


@media (min-width: 1024px) {

}

