/*ignore for now

body {
    margin: 5px;
    text-align: center;
}

img {
    margin: auto;
}

@media (min-width: 768px) {
    
}

*/

/*https://fonts.google.com/*/
* {
    font-family: 'Poppins', sans-serif; ;
}

.wrapper {
    margin: 5px;
    text-align: center;
}

header {
    background-color: rbg(248, 248, 248);
    padding: 0 3% 1em;
    margin-bottom: 2.5em;
}

.main-nav li {
list-style: none;
background-color: white;
}

.wide-nav li {
    list-style: none;
    background-color: white; 
   }
   
a:link, a.visited, a.hover, a.active {
text-decoration: none;
}

