ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li a {
    display: block;
    width: 60px;
  }

  li a:hover {
    background-color: #555;
    color: white;
  }


  .active {
    background-color: #4CAF50;
    color: white;
  }