* {
box-sizing: border-box;
}

.body {
    line-height: 1.6;
}

h2,
h3 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

.main-nav li {
    text-decoration: none;
    text-align: center;
}

@media (min-width 320px) {

}
